@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


html {
    background-color:#cbb1d4;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    display:flex;
    flex-direction: column-reverse;

    width: 100vw;
    height: 75vh;

    color: #24917C;
    font-family: Zen Maru Gothic;
    font-size: calc(30px + 0.8vh);

    background-color: #9ec1b5;
    background-image:url(https://github.com/faulconershelby/personal-portfolio/blob/main/assets/fireweed_d80.jpg);
    background-position-x: 40%;
    background-position-y: center;

    border-style:groove;
    border-color: #9ec1b5;
    border-width: 4px;
    padding: 7px;

}

header nav {
    margin-left: 80vw;
}

header nav a {
    color: #f2df55;
    background-color: whitesmoke;
    text-decoration: none;
}

footer {
    padding: 10px;
    font-size: x-small;
}

a {
    color: #584c99;
    text-decoration: none;
}
a:hover {
    color: #f2df55;
    text-decoration: underline;
}

.dropdown {
    display: inline-block;
}
.dropdown > span {
    text-decoration: underline;
}

.dropdown-content {
    display:none;
    min-width: 80px;
    box-shadow: 0px 4px 8px 0px whitesmoke;
    padding: 10px 10px;
    z-index: 1;
    background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#project-display {
    display: grid;
    border: 1px dotted ;
    border-radius: 17px;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr 1fr 3fr;
    /* align-items: center; */
    background-color: #9ec1b5;
    color:#584c99;
    align-items: space-evenly;
} 

#project-display h2 {
    grid-column: 1/1;
    grid-row: 1/1;
    align-self: stretch;
    font-size: 6vh;
    padding-left: 6vw;
}

#project-display img {
    margin: auto;
    width: 27vw;
    height: 27vw;
    /* align-content: space-around; */
    padding: 1vw;
    padding: 1vh;
    border-radius: 100%;
    border-width: 3px;
    border-style: dotted;
    border-color:#24917C;

    float: center;
}

#project-display div {
    grid-column: 1/span 2;
    grid-row: 1/ span 4;
    align-items: space-evenly;
    margin-left: 5vw;
    margin-top: 15vh;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 7px;
    display: inline-flex;
    align-self:stretch;
    font-size: 4vh;
    font-size:calc(14px+ 0.8vw);
    margin-bottom: 4vh;
    flex-grow: initial;
}

.socials {
    align-items: center;
}

.socials img {
    /* margin-left: 2vw; */
    margin-right: 10vw;
    align-self: center;
}

#self-socials {
    padding-left: 70%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    /* background-color: #cbb1d4; */
}

#self-socials h3 {
    color:#584c99;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    padding-left: 4%;
}

#self-socials img {
    max-width: 30vw;
    align-items:center;
    border-width: 7px;
    border-style:double;
    border-color: #584c99;
}

#self-socials nav img {
border-style: none;
}

#intro {
    display: flex;
    justify-content: center;
    margin-right: 4vw;
    font-size: calc(16px+0.8vw);
}


